body{
    background-color: chartreuse;
}
.contenedor{
    background-color: white;
}
.visible{
    background-color: darkgrey;
    width: 300px;
    height: 100px;
    border: 1px dotted red;
    overflow: visible;
    padding-bottom: 400px;
}
.oculto{
    background-color: darkgreen;
    width: 300px;
    height: 100px;
    border: 1px dotted firebrick;
    overflow: hidden;
}
.barra{
    background-color: darkgreen;
    width: 300px;
    height: 100px;
    border: 1px dotted firebrick;
    overflow: scroll;

}
.automatico{
    background-color: darkgreen;
    width: 300px;
    height: 100px;
    border: 1px dotted firebrick;
    overflow: auto;
}
.doble{
    background-color: darkgreen;
    width: 300px;
    height: 100px;
    border: 1px dotted firebrick;
    overflow-y: hidden;
    overflow-x: scroll;
}